* {
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
}
body {
    background-color: #c7ebe9;
    font-family: "Trebuchet MS", Arial, sans-serif;
    
}

h1, .body-text {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

h1 {
    margin-bottom: 10px;
}


p {
    margin-top: 0;
}

.square {
    /* display: inline-block; */
    flex: auto;
    margin: 10px;
    background-color: white;
    padding: 15px;
    max-width: 150px;
    margin-top: 10px;
    border-radius: 10px;
}

.square p {
    margin-top: 5px;
}


#wallpaper {
    height: auto;
    width: 198px;
}

.projects-container
{
    display: flex;
}

header {
    display: flex;
    gap: 5px;
}
.shape {
    flex: 0;
}

.rect.dark {
    background-color: rgb(208 210 221);
}
.rect {
    width: 30px;
    height: 40px;
    background-color: white;
    
    
}

.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid white;
    

}

.triangle.dark {
    border-top: 15px solid rgb(208 210 221);
}

.square.big {
    /* align-items: center; */
    /* width: 500px;
    height: 500px; */
    min-width: 200px;
    max-height: 500px;
    /* flex: 1 1 200px; */
    max-width: 600px;
    
}
.square.big p {
    margin: 5px 5px;
}

#about-section {
    display: block; 
    /* max-height: 450px; */
}

.square img {
    width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.pics .square {
    display: inline-block; 
    
    max-width: none;
}

.pics {
    display: block;
    
}

.left {
    float: left;
}