* {
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
}
body {
    background-color: #c7ebe9;
    font-family: "Trebuchet MS", Arial, sans-serif;
    
}

h1, .body-text {
    background-color: white;
    padding: 5px;
    margin: 5px;
}

h1 {
    margin-bottom: 10px;
}


p {
    margin-top: 0;
}

.square {
    /* display: inline-block; */
    flex: auto;
    margin: 10px;
    background-color: white;
    padding: 15px;
    max-width: 150px;
    margin-top: 10px;
    border-radius: 10px;
}

.square p {
    margin-top: 5px;
}


#wallpaper {
    height: auto;
    width: 198px;
}

.projects-container
{
    display: flex;
}

.rect {
    width: 20px;
    height: 30px;
    background-color: white;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid white;
}
